services:
  postgres:
    image: postgres:15.14-alpine
    container_name: 'pl-db'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: qwerty
      POSTGRES_DB: planify
      PGDATA: /var/lib/postgresql/data/pgdata
    env_file:
      - config/env
    volumes:
      - pl-db-data:/var/lib/postgresql/pgdata
    profiles: ['db']

  pg-admin:
    image: dpage/pgadmin4:9.8.0
    container_name: 'pl-pgadmin'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: qwerty
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    depends_on:
      - postgres
    volumes:
      - pl-pgadmin-data:/var/lib/pgadmin
    profiles: ['db']

  pl-app:
    build:
      context: ..
      dockerfile: docker/images/planify/Dockerfile
    env_file:
      - config/env
      - config/env.local
    container_name: pl-app
    command: ["poetry", "run", "python", "src/main.py"] # replace command by  ["tail", "-f", "/dev/null"] to prefer killing container after app finished
    profiles: ['app']

  pl-db-init:
    build:
      context: ..
      dockerfile: docker/images/planify/Dockerfile
    container_name: 'pl-db-init'
    env_file:
      - config/env
    volumes:
      - pl-db-data:/var/lib/postgresql/pgdata
    command: ['poetry', 'run', 'alembic', '-c', 'pyproject.toml', 'upgrade', 'head']
    profiles: ['init']


volumes:
  pl-db-data:
  pl-pgadmin-data:
